:root{
  --color: white;
  --font: 'Lato', sans-serif;

  --fs-logo: clamp(1.2rem, 2vw, 2rem);
  --fs-nav: clamp(.8rem, 1vw, 10rem);
  --fs-hero: clamp(3rem, 6vw, 4.5rem);
  --fs-h-about: clamp(1.1rem, 1.6vw, 6rem);
  --fs-h-text: clamp(1rem, 1.3vw, 3rem);
  --fs-h-form: clamp(.8rem, .5vw, 2rem);

  --main-clr: #0d4394;
}

/* html{
  font-size: 18px;
  scroll-behavior: smooth;
  font-family: var(--font);
} */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  list-style: none;
  font-family: var(--font);
}

body{
  background-color: var(--main-color);
}

/* header design */
.header{
  color: white;
  width: 100%;  
  background-color: var(--main-clr);
  box-shadow: 0 10px 100px rgba(0,0,0,.1);
  padding: 1.5rem 0;
  position: fixed;
  z-index: 999;
}

.logo{
  font-size: var(--fs-logo);
  /* font-weight: 700; */
  letter-spacing: 1px;
}

.nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--fs-h-text);
  justify-content: space-between;
  padding: 0 2rem;
}

.has{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  /* text-transform: uppercase;  */
  letter-spacing: 1px;
  font-size: var(--fs-h-text);
}

.has:hover{
  cursor: pointer;
}

li:hover{
 font-weight: bold;
}

#ham{

  display: none;
}

/* hero design */
.hero{
  padding-top: 35vh;
  height: 100dvh;
  color: black;
  text-align: center;
  /* background-image: url('./assets/bg.jpg'); */
}

.herotext{
  font-size: var(--fs-hero);
  position: relative;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  padding: 5px;
}

.hero-about{
  font-size: var(--fs-h-about);
  padding: 0 1rem;
}


.btn{
    background-color: var(--main-clr);
    font-size: var(--fs-nav);
    padding: 1rem 2.5rem;
    border-radius: 3px;
    color: #fbfbfb;
    box-shadow: 0px 5px 10px #2b2b3148;
    transition: all 200ms;
    cursor: pointer;
    display: inline-block;
    margin-top: 2rem;
    letter-spacing: 1px;
    font-weight: 700;
}

/* .btn:hover{
  transition: all 150ms ease-in;
} */

/* About section */

.hr{
  margin-inline: auto;
  margin-top: .5rem;
  margin-bottom: .5rem;
  width: 40px;
  height: 5px;
  background-color: var(--main-clr);
  border: none;
  border-radius: 10px;
}

.container{
  margin-top: 3rem;
  font-size: var(--fs-h-text);
}

.content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  text-wrap: balance;
  margin-inline: auto;
  padding: 0 2rem;
  margin-top: 2rem;
}

.c1, .c2{
  text-align: left;
  margin-top: 1rem;
}

.hd{
  margin-bottom: 3rem;
}

.c1 p{
  line-height: 1.5;
}

.sub-head{
  text-align: left;
  margin-bottom: 2rem;
}

.skill{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  
}

.skill  li{
  background-color: #ddd;
  border-radius: 3px;
  padding: .5rem 1rem;
}

.more{
  padding: 0 .5rem;
  text-wrap: balance;
}

.more-about{
  line-height: 1.5;
}

/* contact me */

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  margin-left: 10px;
  /* font-size: var(--fs-h-form); */
}

input,
textarea {
  margin-bottom: 1.5rem;
  outline: none;
  resize: none;
  border: none;
  border-radius: 3px;
  padding-left: 1rem;
}

textarea{
  padding-top: 1rem;
}

input{
  width: 100%;
  height: 3rem;
}

textarea{
  width: 100%;
  height: 10rem;
}

.form-container{
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-content{
  box-shadow: 0 10px 100px rgba(0,0,0,.1);
  background-color: #ddd;
  border-radius: 3px;
  padding: 2rem 2rem;
  width: 40rem;
  max-width: 95%;
}

input[type="submit"]{
  background: var(--main-clr);
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}


/* Footer section */

.container1{
  margin-top: 3rem;
  font-size: var(--fs-h-text);
  background-color: black;
  padding: 2rem;
  color: white;
}

.foot{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 1rem;
  gap: 2rem;
}

.hr-footer{
  outline: none;
  height: 1px;
}

.contain p{
  font-size: var(--fs-h-form);
}

.social{
  display: flex;
  justify-content: space-between;
}

h5{
  margin-top: 2rem;
  font-weight: lighter;
}

a{
  text-decoration: none;
  color: white;
}
































/* Laptops*/
@media screen and (max-width: 768px){

  
}

 /*large mobile to smaller ones*/ 
 @media screen and (max-width: 675px){

  .has{
    display: none;
  }
  #ham{
    display: block;
  }

  .hero{
    padding-top: 25vh;
  }
}

 @media screen and (max-width: 500px){
  .hero{
    padding-top: 33vh;
  }
}

@media screen and (max-width: 320px) {

}