:root{
  /* --main-color: #ddd; */
  --font-normal: 1.3rem;
  --color: white;
  --font: 'Poppins', sans-serif;
  --font2: Arial, Helvetica, sans-serif;

  --fs-l: clamp(1rem, 2vw, 3rem);
  --fs-n: clamp(1rem, 1vw, 2.5rem);
  --fs-h: clamp(1rem, 6vw ,10rem);
  --fs-ha: clamp(1rem, 5vw, 6rem);

  --bg: #0d4394;
}

html{
  font-size: 16px;
  scroll-behavior: smooth;
}


/* 
@media only screen and (max-width: 56.25em){
html {
    font-size: 3rem;
}} */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: var(--main-color);
  font-size: var(--font-normal);
  color: white;
  font-family: var(--font2);
  width: 100vw;
}

/* header design */
.header{
  display: grid;
  align-items: center;
  width: 100%;
  background-color: var(--bg);
  box-shadow: 0 10px 100px rgba(0,0,0,.1);
  line-height: 1.5;
}

.nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* text-transform: uppercase;  */
  padding: 0 1rem;
}

.logo{

}

.has{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 3rem;
}

.has:hover{
  cursor: pointer;
}

li:hover{
  color: #0d1117;
}

#ham{
  display: none;
}

/* hero design */
.hero{
  padding: 8rem 0 0 0;
  height: 80dvh;
  color: black;
  text-wrap: wrap;
  text-align: center;
}

.herotext{

  padding: 0 20px;
  position: relative;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  
}

.hero-about{
  padding: 0 3rem;
  font-size: 1rem;
}

/* .herotext::after{
  content: 'A Frontend focused Web Developer building the Frontend of Websites and Web Applications that leads to the success of the overall product';
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  font-size: var(--fs-600s);
  font-weight: 500;
  padding: 0 3rem;
} */

.btn{
    background-color: var(--bg);
    text-transform: uppercase;
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 3px;
    color: #fbfbfb;
    box-shadow: 0px 5px 10px #2b2b3148;
    transition: all 200ms;
    cursor: pointer;
    display: inline-block;

}



















@media screen and (max-width: 768px) and (max-width: 1024px){
  .has{
    display: none;
  }
  #ham{
    display: block;
  }

  .header{
    height: 5rem;
  }
  
}